.content {
    max-width: 700px;
    margin-left: calc(50% - 350px);
}
@media screen and (max-width: 700px) {
  .content {
    margin-left: 0;
  }
}
.username-span {
    color: cyan;
    font-weight: bolder;
}
