.content {
    max-width: 800px;
    margin-left: calc(50% - 410px);
}
@media screen and (max-width: 800px) {
  .content {
    margin-left: 0;
  }
}
.username-span {
    color: #83a598;
    font-weight: bolder;
}
.pfp {
    width: 80vw;
    max-width: 460px;
}
