.showcase {
    width: 100vw;
    max-width: 800px;
    object-fit: contain;
    margin-top: min(40vw, 400px);
}
.caption {
    width: 100vw;
    max-width: 600px;
    color: aqua;
    font-size: 24px;
    text-align: center;
}
.description {
    width: 100vw;
    padding: 0 42px;
    max-width: 700px;
    text-align: left;
    margin-bottom: 256px;
}
