.welcome-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 42px;
}
.welcome-heading {
    color: #458588;
    font-size: 42px;
    margin-bottom: 0;
}
.welcome-subhead {
    margin-top: 0;
    text-align: center;
    margin-bottom: 42px;
}

.posts {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.post {
    all: unset;
    color: #ebdbb2;
    background: #3c3836;
    text-decoration: none;
    width: 80%;
    max-width: 700px;
    padding: 24px;
    margin-bottom: 24px;
}
.post:hover {
    background: #504945;
    cursor: pointer;
}
.post:hover .post-banner {
    filter: none;
}
.post-banner {
    width: 100%;
    aspect-ratio: calc(16 / 7);
    object-fit: cover;
    filter: brightness(0.84) sepia(1);
    border-radius: 6px;
}
.post-banner-nodim {
    width: 100%;
    aspect-ratio: calc(16 / 7);
    object-fit: cover;
    border-radius: 6px;
}
.post-title {
    margin-top: 0px;
    color: #83a598;
}
.metadata {
    color: #d5c4a1;
    float: right;
    font-size: 12px;
    margin-top: -4px;
}
.post-description {
    font-size: 16px;
    margin-top: 16px;
}
.clicky {
    margin-bottom: -4px;
    float: right;
}

.post-container {
    max-width: calc(min(700px, 90vw));
}
.title-container {
    display: flex;
    flex-direction: column;
    color: #83a598;
}
.title-subhead {
    margin-top: -12px;
    margin-bottom: 12px;
    max-width: 800px;
    text-align: left;
    font-size: 13px;
    color: #ebdbb2;
}
.title-meta {
    margin-top: 12px;
    width: 100%;
    font-size: 12px;
    text-align: right;
    color: #d5c4a1;
}
.next {
    float: right;
}
.blog-content {
    max-width: 800px;
    margin: 42px 0;
}
.blog-image {
    width: 80%;
    margin-left: 10%;
}
.blog-caption {
    width: 80%;
    margin-left: 10%;
    font-size: 12px;
    color: #bdae93;
    margin-bottom: 42px;
}
h2, h3, h4, h5, h6 {
    color: #fbf1c7;
}
a {
    color: #ebdbb2;
}
a:active {
    color: #fbf1c7;
}
a:visited {
    color: #d5c4a1;
}
pre {
    width: 80%;
    margin-left: 10%;
    text-wrap: wrap;
}

.loadmore-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.loadmore {
    color: #ebdbb2;
    background: #458588;
    border: 0px;
    font-size: 16px;
    padding: 8px;
}
.loadmore:hover {
    background: #ebdbb2;
    color: #282828;
}
.loadmore:active {
    background: #fbf1c7;
    color: #458588;
}
.loadmore:disabled {
    background: #665c54;
    color: #a89984;
}
