.welcome-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 42px;
}
.welcome-heading {
    font-size: 42px;
    margin-bottom: 0;
}
.welcome-subhead {
    margin-top: 0;
    text-align: center;
    margin-bottom: 42px;
}

.posts {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.post {
    all: unset;
    color: white;
    text-decoration: none;
    width: 80%;
    max-width: 800px;
    padding: 24px;
    margin-bottom: 42px;
    boder: solid 1px white;
}
.post:hover {
    cursor: pointer;
}
.post-banner {
    width: 100%;
    aspect-ratio: calc(16 / 7);
    object-fit: cover;
}
.post-title {
    margin-top: 0px;
}
.metadata {
    float: right;
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: 12px;
}
.preview {
    font-size: 14px;
}
.clicky {
    margin-bottom: -4px;
    float: right;
}

.post-container {
    align-self: center;
    align-items: center;
}
.title-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-subhead {
    margin-top: -24px;
    margin-bottom: 24px;
    max-width: 600px;
}
.limwidth {
    max-width: 600px;
}
.title-back {
    text-align: left;
}
.title-meta {
    width: 100%;
    font-size: 12px;
    text-align: right;
}
.next {
    float: right;
}
.blog-content {
    max-width: 800px;
    margin: 42px 0;
}
pre {
    width: 80%;
    margin-left: 10%;
    text-wrap: wrap;
}
