.welcome-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 42px;
}
.welcome-heading {
    color: #458588;
    font-size: 42px;
    margin-bottom: 0;
}
.welcome-subhead {
    margin-top: 0;
    text-align: center;
    margin-bottom: 42px;
}

.posts {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.post {
    all: unset;
    color: #ebdbb2;
    background: #3c3836;
    text-decoration: none;
    width: 80%;
    max-width: 700px;
    padding: 24px;
    margin-bottom: 42px;
    border-radius: 6px;
    transition-duration: 128ms;
}
.post:hover {
    background: #504945;
    cursor: pointer;
}
.post-banner {
    width: 100%;
    aspect-ratio: calc(16 / 7);
    object-fit: cover;
    filter: brightness(0.9) grayscale(1.0) hue-rotate(45deg);
    transition-duration: 200ms;
    border-radius: 6px;
}
.post-banner-nodim {
    width: 100%;
    aspect-ratio: calc(16 / 7);
    object-fit: cover;
    border-radius: 6px;
}
.post-banner:hover {
    filter: none;
}
.post-title {
    margin-top: 0px;
    color: #83a598;
}
.metadata {
    color: #d5c4a1;
    float: right;
    font-size: 12px;
    margin-top: -4px;
}
.preview {
    font-size: 13px;
    margin-top: 16px;
}
.clicky {
    margin-bottom: -4px;
    float: right;
}

.post-container {
    max-width: 700px;
}
.title-container {
    display: flex;
    flex-direction: column;
    color: #83a598;
}
.title-subhead {
    margin-top: -12px;
    margin-bottom: 12px;
    max-width: 800px;
    text-align: left;
    font-size: 13px;
    color: #ebdbb2;
}
.limwidth {
    max-width: 800px;
}
.title-back {
    text-align: left;
}
.title-meta {
    margin-top: 12px;
    width: 100%;
    font-size: 12px;
    text-align: right;
    color: #d5c4a1;
}
.next {
    float: right;
}
.blog-content {
    max-width: 800px;
    margin: 42px 0;
}
pre {
    width: 80%;
    margin-left: 10%;
    text-wrap: wrap;
}
