body,
html {
    margin: 0;
    padding: 0;

    color: white;
    background-color: black;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    wdith: 100vw;
    height: 100vh;
}

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.username {
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    display: flex;
    font-size: 64px;
    align-items: center;
    justify-content: space-around;
    pointer-events: none;
    user-select: none;
    position: absolute;
}

.home-link {
    color: white;
}
.home-link:active {
    color: white;
}
.home-link:visited {
    color: white;
}

.link-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.up {
    position: absolute;
}
.down {
    position: absolute;
    top: 50%;
}
.low {
    margin-top: 42px;
}
.high {
    margin-bottom: 42px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px;

    color: black;
    background: white;
}
.nav-footer {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    padding: 4px 0;

    color: black;
    background: white;
}
.nav-username {
    margin-left: 4px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.nav-username:active {
    margin-left: 4px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.nav-username:visited {
    margin-left: 4px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.nav-links {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: min-content;
    right: 12px;
    top: 9px;
}
.nav-link {
    color: black;
    margin: 4px;
    font-size: 14px;
}
.nav-link:active {
    color: black;
    margin: 4px;
    font-size: 14px;
}
.nav-link:visited {
    color: black;
    margin: 4px;
    font-size: 14px;
}

.content {
    padding: 16px;
    width: calc(100% - 32px);
    height: calc(100% - 90px);

    overflow-x: hidden;
    overflow-y: scroll;

    scrollbar-color: white black;
    scrollbar-width: thin;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-aspect-ratio: 3/4) {
    .username {
        flex-direction: column;
    }

    .link-container {
        width: 50vw;
        height: 100vh;
        padding: 0;
        flex-direction: column;
    }

    .up {
        position: absolute;
        top: 0;
    }
    .down {
        position: absolute;
        top: 0;
        left: 50%;
    }
    .low {
        margin-top: 0;
        margin-left: 42px;
    }
    .high {
        margin-bottom: 0;
        margin-right: 42px;
    }
}
