body,
html {
    margin: 0;
    padding: 0;

    color: white;
    background-color: black;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    wdith: 100vw;
    height: 100vh;
}

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.username {
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    display: flex;
    font-size: 64px;
    align-items: center;
    justify-content: space-around;
    pointer-events: none;
    user-select: none;
    position: absolute;
}

a {
    color: white;
}
a:active {
    color: white;
}
a:visited {
    color: white;
}

.link-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.up {
    position: absolute;
}
.down {
    position: absolute;
    top: 50%;
}
.low {
    margin-top: 42px;
}
.high {
    margin-bottom: 42px;
}

@media (max-aspect-ratio: 3/4) {
    .username {
        flex-direction: column;
    }

    .link-container {
        width: 50vw;
        height: 100vh;
        padding: 0;
        flex-direction: column;
    }

    .up {
        position: absolute;
        top: 0;
    }
    .down {
        position: absolute;
        top: 0;
        left: 50%;
    }
    .low {
        margin-top: 0;
        margin-left: 42px;
    }
    .high {
        margin-bottom: 0;
        margin-right: 42px;
    }
}
