@font-face {
    font-family: "Iosevka";
    font-display: swap;
    src: url('/assets/fonts/Iosevka-Light.woff2') format('woff2')
        url('/assets/fonts/Iosevka-Light.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;

    color: var(--fg, white);
    background-color: var(--bg_0, black);

    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    color: var(--gray, #323232);
    background: var(--gray, #323232);
    border: solid 1px var(--gray, #323232);
}

a {
    color: #ebdbb2;
    font-size: 20px;
    padding: 2px;
}
a:hover {
    text-decoration: underline wavy #cc241d;
}
a:active {
    color: #fbf1c7;
}
a:visited {
    color: #d5c4a1;
}

.container {
    width: 80vw;
    max-width: 1024px;
    min-height: 42px;

    font-family: Iosevka;
    font-optical-sizing: auto;
    font-weight: 400;

    display: flex;
    flex-direction: column;
}

