html, body {
    overflow: hidden;
    max-height: 100vh;
}
.username {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 12vw;
    background: linear-gradient(90deg, #88c0d0 0%, #8fbcbb 50%, #88c0d0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 32px #81a1c1;
    pointer-events: none;
    z-index: 2;
    filter: brightness(1.2);
}
.uletter {
    opacity: 1;
    pointer-events: none;
}
.link {
    color: #d8dee9;
    pointer-events: all;
    cursor: pointer;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    display: flex;
    flex-direction: row;
}
.link-icon {
    z-index: 10;
    width: 32px;
    margin-right: 4px;
}
.starfield-bg {
    background-position: center;
    background-size: cover;
    filter: blur(4px) brightness(0.8);
    opacity: 0;
    z-index: 0;
    width: 120vw;
    height: 120vh;
}