.content {
    width: 90vw;
    margin-left: 5vw;
}
.legend {
    margin-top: 64px;
    margin-bottom: -12px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.legend-entry {
    display: flex;
    flex-direction: row;
}
.legend-sample { 
    width: 16px;
    height: 16px;
    background: #1d2021;
    border: solid 1px #ebdbb2;
    margin-right: 8px;
    margin-bottom: 4px;
}
.category {
    width: 90vw;
}
.category-items {
    max-width: 90vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}
.icon {
    width: 64px;
    font-size: 14px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: underline solid 1px #ebdbb2;
    color: #ebdbb2;
    background: #1d2021;
    padding: 8px 12px;
}
.icon:hover{
    background: #665c54;
}
.icon-label {
    margin-top: 4px;
}
.learning {
    background: #458588;
}
.intermediate {
    background: #79740e;
}
.partial {
    background: #cc241d;
}
