.content {
    width: 70vw;
    margin-left: 15vw;
}
.category {
    width: 70vw;
}
.category-items {
    max-width: 70vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}
.icon {
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: underline solid 1px #ebdbb2;
    color: #ebdbb2;
    background: #1d2021;
    padding: 12px 32px;
}
.icon:hover{
    background: #665c54;
}
.icon-label {
    margin-top: 4px;
}
