.content {
    width: 90vw;
    margin-left: 5vw;
}
.category {
    width: 90vw;
}
.category-items {
    max-width: 90vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}
.icon {
    width: 64px;
    font-size: 14px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: underline solid 1px #ebdbb2;
    color: #ebdbb2;
    background: #1d2021;
    padding: 8px 12px;
}
.icon:hover{
    background: #665c54;
}
.icon-label {
    margin-top: 4px;
}
