html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #2e3440;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: cell;
}
body {
    background-color: black;
    overflow-x: hidden;
}

.hidden {
    display: none;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}
.container {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background: transparent;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}
.cursor {
    position: fixed;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: #d8dee9;
    border: solid 2px #e5e9f0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 69;
    opacity: 0;
    pointer-events: none;
}
.layer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.site-header {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0; left: 0;
    background-color: #4c566a88;
    backdrop-filter: blur(16px);
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-left {
    margin-left: 16px;
    height: 48px;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-homelink {
    text-decoration: none;
}
.header-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.header-username {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    background: linear-gradient(90deg, #88c0d0 0%, #8fbcbb 50%, #88c0d0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 32px #81a1c1;
    font-size: 32px;
}
.header-nav-button {
    all: unset;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.hamburger {
    width: 32px;
    height: 32px;
}
.hamburger-line {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin: 6px auto;
    background-color: #81a1c1;
    position: static;
}
.nav {
    width: 80vw;
    max-width: 318px;
    height: calc(100vh - 64px);
    position: fixed;
    top: 64px; right: -318px;
    background-color: #4c566a88;
    backdrop-filter: blur(16px);
    z-index: 69;
}
.content-cover {
    pointer-events: none;
    position: fixed;
    top: 64px; left: 0;
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: #0004;
    backdrop-filter: blur(4px);
    opacity: 0;
    z-index: 4;
}