.blog-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.blog-intro {
    width: 38%;
    padding: 42px;
}
.answer {
    font-size: calc(42% * 36);
    color: #504945;
}
@media(max-width: 1400px) {
    .answer {
        display: none;
    }
    .blog-intro {
        width: 80%;
    }
}
.visit-blog {
    all: unset;
    cursor: pointer;
    padding: 8px;
    background: #504945;
    border: solid 1px #665c54;
    border-radius: 4px;
    transition-duration: 100ms;
}
.visit-blog:hover {
    background: #83a598;
    border-color: #458588;
    transition-duration: 42ms;
}
.visit-blog:active {
    background: #8ec07c;
    border-color: #689d68;
    transition-duration: 100ms;
}

