.username {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 72px;
    background: linear-gradient(90deg, rgba(0,226,255,1) 0%, rgb(0, 255, 157) 50%, rgba(0,226,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 32px rgba(0,226,255,1);
    pointer-events: none;
    z-index: 2;
}
.uletter {
   opacity: 0;
   pointer-events: none;
}
.dot {
    width: 3px;
    height: 3px;
    position: absolute;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    filter: brightness(4);
}
.link {
    color: white;
    pointer-events: all;
    cursor: pointer;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
}
.starfield-bg {
    background-image: url('../img/pixart-galaxy.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(0.64);
}