.blog-header {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;

    .welcome {
        margin-bottom: 0;
    }
    .feeds {
        font-size: 17px;
    }
}
.blog-post {
    text-decoration: none;
    margin-bottom: 8px;

    .post {
        width: calc(100% - 28px);
        min-height: 32px;
        padding: 14px;
        background: var(--bg_1, gray);

        .heading {
            margin: 0;
            margin-bottom: 4px;
        }
        .metadata {
            margin-top: 6px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .tags {
                display: flex;
                flex-direction: row;
                font-size: 13px;

                .tag {
                    padding: 3px;
                    background: var(--bg_2, gray);
                    margin-right: 4px;
                }
            }

            .times {
                font-size: 15px;
            }
        }
    }
    .post:hover {
        background: var(--bg_2, gray);
    }
    .post:active {
        background: var(--bg_0, black);
    }
}
.blog-post:hover {
    text-decoration: none;
}
