.container {
    max-width: 1024px;
}
.intro-container {
    margin-top: 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.intro-pfp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-username {
    color: var(--fg0, white);
    font-size: 42px;
    margin-bottom: -10px;
}
.intro-text {
    font-size: 14px;
}
.intro-icons {
    height: 24px;
    margin-bottom: 12px;
}
.intro-icon {
    width: 18px;
    aspect-ratio: 1;
}
.intro-link {
    margin: 6px;
    text-decoration: none;
}
.intro-link:hover {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .container {
        padding-top: 0;
    }
    .intro-container {
        margin-top: 64px;
        flex-direction: row;
    }
    .intro-username {
        margin-top: 46px;
    }
    .intro-text {
        font-size: 18px;
    }
    .intro-icons {
        float: right;
        margin-bottom: 0;
    }
    .intro-icon {
        width: 24px;
    }
}

.terminal {
    background: var(--bg_1, gray);
    padding: 12px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
