.intro-container {
    margin-top: 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.intro-pfp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-username {
    color: var(--fg0, white);
    font-size: 42px;
    margin-bottom: -10px;
}
.intro-text {
    font-size: 14px;
}
.intro-icons {
    height: 24px;
    margin-bottom: 12px;
}
.intro-icon {
    width: 18px;
    aspect-ratio: 1;
}
.intro-link {
    margin: 6px;
    text-decoration: none;
}
.intro-link:visited {
    text-decoration: none;
}
.intro-link:hover {
    text-decoration: none;
}
.intro-link:active {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .intro-container {
        margin-top: 64px;
        flex-direction: row;
    }
    .intro-username {
        margin-top: 46px;
    }
    .intro-text {
        font-size: 18px;
    }
    .intro-icons {
        float: right;
        margin-bottom: 0;
    }
    .intro-icon {
        width: 24px;
    }
}

.techstack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 842px;
}
.techstack-row {
    gap: 12px;
    margin-bottom: 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.techstack-box {
    flex: 1 1 200px;
    aspect-ratio: 1;
    background: var(--bg_1, gray);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.responsive-border {
    border: solid 1px var(--bg_2, lightgray);
    border-radius: 2px;
}
.techstack-icon {
    width: 64px;
    aspect-ratio: 1;
}
.techstack-role {
    font-size: 14px;
    margin-top: 12px;
    display: none;
}
.techstack-head {
    margin-bottom: 12px;
    font-size: 13px;
}
.techstack-more {
    font-size: 13px;
    align-self: flex-end;
}

@media screen and (min-width: 800px) {
    .techstack-box {
        flex: 1 1 240px;
        aspect-ratio: 1.42;
    }
    .techstack-role {
        display: flex;
    }
}
@media screen and (max-width: 600px) {
    .techstack-icon {
        width: 42px;
    }
}
@media screen and (min-width: 600px) {
    .techstack-container {
        margin-top: 42px;
    }
    .techstack-head {
        font-size: 16px;
    }
    .responsive-border {
        border-width: 2px;
    }
    .techstack-more {
        font-size: 16px;
    }
}

.scroll-head {
    color: var(--gray, gray);
    font-size: 68px;
    width: 256px;

    margin: 0;
    margin-top: 42px;
    height: 128px;
    display: none;

    writing-mode: vertical-rl;
    text-orientation: mixed;
}
@media screen and (min-width: 1192px) {
    .scroll-head {
        display: flex;
    }
    .right-or-down {
        display: flex;
        flex-direction: row;
    }
    .techstack-container {
        width: 100%;
    }
}

.projects-container {
    padding: 12px;

    display: flex;
    flex-direction: row;

    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
}
.projects-wrapper {
    position: relative;
}
.hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.projects-wrapper::before,
.projects-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 12px;
    pointer-events: none;
}
.projects-wrapper::before {
    left: 0;
    background: linear-gradient(
        to right,
        var(--bg, #1e1e1e) 0%,
        rgba(29, 32, 33, 0) 100%
    );
}
.projects-wrapper::after {
    right: 0;
    background: linear-gradient(
        to left,
        var(--bg, #1e1e1e) 0%,
        rgba(29, 32, 33, 0) 100%
    );
}
.project-card {
    background: var(--bg_1, gray);
    flex: 0 0 256px;
    margin-right: 16px;
    scroll-snap-align: center;
}
.project-banner-container {
    width: 230px;
    height: 127px;
    margin: 13px;
}
.project-banner {
    width: 230px;
    height: 127px;
    border-radius: 3px;
}
.project-links {
    float: right;
    transform: translateX(-7px) translateY(-42px);
    display: flex;
    gap: 4px;
}
.project-link {
    text-decoration: none;
    border-radius: 50%;
    background: var(--bg_2, black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-contain { object-fit: contain; }
.banner-cover { object-fit: cover; }
.project-title {
    font-size: 20px;
    margin: 7%;
    margin-top: -8px;
}
.project-description {
    margin: 7%;
    margin-top: -18px;
}
.project-tags {
    margin: 7%;
    margin-bottom: 5%;
}
.project-tag {
    padding: 3px;
    background: var(--bg_2, gray);
    margin-right: 2px;
}
.mobile-projects-head {
    margin-top: 74px;
    pointer-events: none;
    user-select: none;
    margin-left: 12px;
}
@media screen and (min-width: 1192px) {
    .mobile-projects-head {
        color: transparent;
    }
}

