<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>n3rdium's {{ title }}</title>
    {{ head }}

    <meta charset="UTF-8">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="n3rdium">

    <link rel=stylesheet href="/css/theme.css"/>
    <link rel=stylesheet href="/css/kami.css"/>
    <link rel=stylesheet href="/css/index.css"/>
    <link rel=stylesheet href="/css/blog-index.css"/>
    <script src="/js/nav.js"></script>
  </head>
  <body>
    <main role=main class="content">
        <div class="header">
            <br>
            <h1>{{ title }}</h1>
            {{ body }}
            <div style="margin-bottom: -17px;"></div>
        </div>
        <div class="cards">
            {% for item in preprocessors.feeds.feeds["astro-years"] %}
                <a class="blog-post" href="{{ item.href }}">
                    <div class="post responsive-border">
                        <h2 class="heading">{{ item.title }}</h2>
                        <div class="description">
                            {{ item.description }}
                        </div>
                        <div class="nposts">
                            {{ preprocessors.feeds.feeds["astro-" ~ item.year] | length }}
                            {% if preprocessors.feeds.feeds["astro-" ~ item.year] | length == 1 %}
                                post
                            {% else %}
                                posts
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}    
        </div>
        <!-- TODO next/prev -->
    </main>
  </body>
</html>

