<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }} - n3rdium's blog</title>
    {{ head }}

    <meta charset="UTF-8">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="n3rdium">

    <link rel=stylesheet href="/css/theme.css"/>
    <link rel=stylesheet href="/css/kami.css"/>
    <link rel=stylesheet href="/css/index.css"/>
    <link rel=stylesheet href="/css/blog-index.css"/>
    <script src="/js/nav.js"></script>
  </head>
  <body>
    <main role=main class="content">
        <div class="header">
            <a class="back-link" href="/blog/">&lt;- /blog/</a>
            <h1>{{ title }}</h1>
            {{ body }}
            <p>
                {{ metadata.description }}
            </p>
        </div>
        <div class="cards">
            {% for item in preprocessors.feeds.feeds["blog-" ~ metadata.year] %}
                <a class="blog-post" href="{{ item.href }}">
                    <div class="post responsive-border">
                        <h2 class="heading">{{ item.title }}</h2>
                        <div class="description">{{ item.description }}</div>
                        <div class="metadata">
                            <div class="tags">
                                {% for tag in item.tags %}
                                <code>{{ tag }}</code>
                                {% endfor %}
                            </div>
                            <div class="times">
                                {{ item.pubdate }} \\ ~{{ item.readtime }} read
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}    
        </div>
        <div class="prevnext">
            {% if "prev" in metadata %}
                <a class="prev" href="{{ metadata.prev }}">&lt;- prev</a>
            {% endif %}
            {% if "next" in metadata %}
                <a class="next" href="{{ metadata.next }}">next -&gt;</a>
            {% endif %}
        </div>
    </main>
  </body>
</html>

