<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }} - n3rdium's notes</title>
    {{ head }}

    <meta charset="UTF-8">
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="n3rdium">

    <link rel=stylesheet href="/css/theme.css"/>
    <link rel=stylesheet href="/css/kami.css"/>
    <link rel=stylesheet href="/css/index.css"/>
    <script src="/js/nav.js"></script>
  </head>
  <body>
    <main role=main class="content">
{{ body }}

{% set ns = namespace(
    current_initial=None, 
    first_letter=True, 
    unclosed_ul=False) 
%}
{% for item in preprocessors.feeds.feeds["notes-" ~ metadata["subject-page"]]
      |selectattr('title')
      |sort(attribute='title', case_sensitive=False) %}

    {% set initial = item.title[0]|lower %}

    {% if initial != ns.current_initial %}
        {% if not ns.first_letter %}
            </ul>
        {% endif %}
        {% set ns.first_letter = False %}

        <h2>{{ initial }}</h2>
        <ul>

        {% set ns.unclosed_ul = True %}
        {% set ns.current_initial = initial %}
    {% endif %}

    <li><a href="{{ item.href }}">{{ item.title }}</a></li>
{% endfor %}
{% if ns.unclosed_ul %}
    </ul>
{% endif %}
    </main>
  </body>
</html>

