.nerd-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-size: 128px;
    color: #5e81ac;
    text-shadow: 0 0 32px #5e81ac;
}
.astro-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-size: 52px;
    color: #88c0d0;
    text-shadow: 0 0 32px #8fbcbb;
}
.dev-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-size: 52px;
    color: #bf616a;
    text-shadow: 0 0 32px #d08770;
}
.exp-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-size: 48px;
    color: #d08770;
    text-shadow: 0 0 32px #ebcb8b;
}
.comp-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-size: 52px;
    color: #81a1c1;
    text-shadow: 0 0 32px #88c0d0;
}
.alive-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-size: 128px;
    color: #a3be8c;
    text-shadow: 0 0 32px #8fbcbb;
}
.for-a-reason {
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-size: 24px;
    position: absolute;
}
.scroll-indicator-0 {
    position: absolute;
    bottom: 64px;
    font-size: 64px;
    animation: scroll-indicator 2s infinite ease-in-out;
}
.scroll-indicator-1 {
    position: absolute;
    bottom: 64px;
    font-size: 64px;
    animation: scroll-indicator 2s 0.66s infinite ease-in-out;
}
.scroll-indicator-2 {
    position: absolute;
    bottom: 64px;
    font-size: 64px;
    animation: scroll-indicator 2s 1.32s infinite ease-in-out;
}
@keyframes scroll-indicator {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    25% {
        opacity: 1;
        transform: translate(0, 0);
    }
    50% {
        opacity: 1;
        transform: translate(0, 16px);
    }
    75% {
        opacity: 0;
        transform: translate(0, 16px);
    }
    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}
* {
    z-index: 1;
}
.vparallax {
    position: absolute;
    top: 0; left: 0;
    width: 8vw;
    min-width: 100px;
    z-index: -1;
}
.over {
    background: #2e3440;
}
.intro-svg {
    position: absolute;
    width: 128px;
}
.heythere {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username-container {
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.username {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    background: linear-gradient(90deg, #88c0d0 0%, #8fbcbb 50%, #88c0d0 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 32px #81a1c1;
    pointer-events: none;
    z-index: 2;
    filter: brightness(1.2);
}
.portal-blue {
    position: absolute;
    width: 256px;
    height: 24px;
    background-image: linear-gradient(#0000, #81a1c1);
    border-radius: 6px;
}
.portal-body-blue {
    width: 256px;
    height: 12px;
    transform: translateY(12px);
    background-color: #81a1c1;
}
.portal-orange {
    position: absolute;
    width: 256px;
    height: 24px;
    background-image: linear-gradient(#0000, #d08770);
    border-radius: 6px;
}
.portal-body-orange {
    width: 256px;
    height: 12px;
    transform: translateY(12px);
    background-color: #d08770;
}
.portal-rim {
    width: 260px;
    height: 4px;
    transform: translate(-2px, -1px);
    background-color: #d8dee9;
    border-radius: 2px;
}
.portal-curtain {
    width: 300px;
    height: 180px;
    transform: translate(-2px, 6px);
    background-color: #2e3440;
    z-index: 100;
}
.portal-immune {
    z-index: 128;
}
#object {
    position: absolute;
}
.object {
    width: 128px;
}