.nerd-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-weight: 200;
    font-size: 24vw;
    color: #68deff;
    text-shadow: 0 0 32px #55b6d1;
}
.astro-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-size: 12vw;
    color: #00cdc9;
    text-shadow: 0 0 32px #88c0d0;
}
.dev-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-weight: bold;
    font-size: 14vw;
    color: #ff4457;
    text-shadow: 0 0 32px #bf616a;
}
.exp-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-weight: 300;
    font-size: 12vw;
    color: #ff693b;
    text-shadow: 0 0 32px #d08770;
}
.comp-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-weight: 600;
    font-size: 16vw;
    color: #81a1c1;
    text-shadow: 0 0 32px #5e81ac;
}
.alive-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    font-weight: normal;
    font-size: 24vw;
    color: #90c264;
    text-shadow: 0 0 32px #a3be8c;
}
.for-a-reason {
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-size: 24px;
    position: absolute;
}
.scroll-indicator-0 {
    position: absolute;
    bottom: 64px;
    font-size: 64px;
    animation: scroll-indicator 2s infinite ease-in-out;
}
.scroll-indicator-1 {
    position: absolute;
    bottom: 64px;
    font-size: 64px;
    animation: scroll-indicator 2s 0.66s infinite ease-in-out;
}
.scroll-indicator-2 {
    position: absolute;
    bottom: 64px;
    font-size: 64px;
    animation: scroll-indicator 2s 1.32s infinite ease-in-out;
}
@keyframes scroll-indicator {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    25% {
        opacity: 1;
        transform: translate(0, 0);
    }
    50% {
        opacity: 1;
        transform: translate(0, 16px);
    }
    75% {
        opacity: 0;
        transform: translate(0, 16px);
    }
    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}
* {
    z-index: 1;
}

.bg {
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: 0;
    filter: blur(12px) brightness(0.69) saturate(0.64) contrast(1.42);
}
.credit {
    position: absolute;
    font-size: 12px;
    color: rgba(203, 203, 203, 0.8);
    top: 0; left: 0;
    transform: translate(calc(100vw - 150px), calc(100vh - 16px));
}