.ap-container {
    width: 100%;
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ap-img {
    border-radius: 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.primary-img {
    position: relative;
    width: calc(16%*4);
    object-fit: cover;
}
.secondary-img {
    width: 12vw;
    position: absolute;
    object-fit: cover;
}

.aps1 {
    transform: translate(-256%, -128%);
}
.aps2 {
    transform: translate(260%, -96%);
}
.aps3 {
    transform: translate(-240%, 108%);
}
.aps4 {
    transform: translate(280%, 166%);
}
.aps5 {
    transform: translate(-280%, -5%);
}
.aps6 {
    transform: translate(320%, 12%);
}