.space-bg-1 {
    background-image: url('../img/jwst-carina-nebula.avif');
    background-size: 132%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}