html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.username {
    font-size: 72px;
    background: linear-gradient(to right, #00b7ff, #00ff95);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 0 0 32px #00eaff;
}
.avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
}
.avatar {
    height: 100%;
    width: auto;
    margin: 0 10px;
    border-radius: 50%;
    box-shadow: 0 0 64px #00eaff;
}
.welcome-container {
    max-width: fit-content;
}
.welcome-text {
    border-right: solid 2px rgba(0,255,0,.75);
    white-space: nowrap;
    font-size: 24px;
    color: whitesmoke;
    text-shadow: 0 0 12px #ffffff;
    text-align: center;
    overflow: hidden;
    animation: type 4s steps(24) infinite,
               cursorBlink 500ms steps(24) infinite normal;
}
@keyframes type {
    0% {
        width: 0;
    }
    25% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    75% {
        width: 100%;
    }
    80% {
        width: 0%;
    }
    100% {
        width: 0%;
    }
}
@keyframes cursorBlink {
    0% {
        border-right-color: transparent;
    }
    25% {
        border-right-color: rgba(0,255,0,.75);
    }
    75% {
        border-right-color: rgba(0,255,0,.75);
    }
    100% {
        border-right-color: transparent;
    }
}